@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

$text-color: black;
$navbar-default-link-color: black;
$link-hover-decoration: none;
$padding-large-vertical: 16px;

body {
  background-image: url('../images/cthulhu.jpg');
}

* {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 20px;
}

.card-font {
  font-size: 15px;
  font-weight: 900;
  line-height: 42px;
  margin-bottom: 2px;
}

.text-center {
  margin-bottom: 20px;
}

.modal-dialog--relative {
  margin: 10px;
  position: relative;
  width: auto;
}

.card-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  font-family: 'Special Elite', serif;
  margin-left: 40px;
}

ul {
  list-style-image: url('../images/devourer-icon-17x19.png');
}

li {
  padding-left: 20px;
  padding-top: 10px;
  a {
    color: darkcyan;
  }
}

.space-above {
  margin-top: 50px;
}

.space-below {
  margin-bottom: 30px;
}

p {
  padding: 10px;
}